.btn {
  @extend .dib;
  padding: 10/16*1em 20/16*1em;
  font-size: 16px;
  border: 1px solid #FFF;
  border-bottom-width: 3px;
  border-radius: 4px;
  transition: 0.2s;

  &:hover {
    background: #FFF;
    color: $color-dark-blue;
  }

  @media screen and (max-width: 960px) {
    font-size: 12px;
  }
}

.btn-group {
  .btn {
    @media screen and (max-width: 540px) {
      display: block;
    }
  }

  .btn + .btn {
    margin-left: 1em;

    @media screen and (max-width: 960px) {
      margin-left: 0;
    }

    @media screen and (max-width: 540px) {
      margin-left: 0;
      margin-top: 1em;
    }
  }

}


.btn--inverted {
  @extend .btn;
  border-color: $color-dark-blue;
  color: $color-dark-blue;

  &:hover {
    background: $color-dark-blue;
    color: #FFF;
  }
}