/* Features List */
.features {
  @extend .cf;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    position: relative;
    float: left;
    width: (100% / 3);
    width: calc(100% / 3);
    min-height: 80px;

    @media screen and (max-width: 960px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 2px;
    left: 0;
    fill: mix($color-dark-blue, #fff, 40%);

    @media screen and (max-width: 960px) {
      width: 50px;
      height: 50px;
    }
  }

  &__title {
    margin: 0;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 28px;
    line-height: 1;

    @media screen and (max-width: 960px) {
      padding-left: 65px;
      padding-right: 0;
      padding-bottom: 5px;
      font-size: 22px;
    }
  }

  &__desc {
    margin: 0;
    padding-left: 100px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 1.4;

    @media screen and (max-width: 960px) {
      padding-left: 65px;
      padding-right: 0;
      font-size: 12px;
    }
  }
}